body,
main {
  padding-top: 70px;
  font-size: 16px;
}

main {
  height: 1000px;
  margin: 25px 0;
}

.colors-one,
.colors-one h2 {
  color: #ebea76;
}

.colors-two,
.colors-two h2 {
  background: #00cd34;
  color: #bc00bb;
}

.colors-three,
.colors-three h2 {
  background: green;
  color: red;
}

#skip-link {
  position: absolute;
  top: -50%;
  left: 0;
  padding: 8px;
  background: red;
  z-index: 9999;
}

#skip-link:focus {
  top: 0;
}
